.popupContainer {
    width: 500px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    right: 20px;
    top: 100px;
    z-index: 10;
    border-radius: 30px;
}