
.IconButtonStyle {
  position: fixed;
  z-index: 100;
  right: 20px;
  top: 20px;
  background-color: var(--first-color);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--dark-color-lighter)
}


